* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
}

.k-main-box{
    width: 750px;
    margin: 0 auto;
}
.carousel-item{

}
.k-carousel__titel {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
}
.k-carousel__text {
    font-family: 'Open Sans', sans-serif;
}
